{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
            <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>            
            <link rel="stylesheet" href="{% static 'css/404.css' %}">     
            
            <title>Moetify - Not found</title>
            <meta charset="utf-8">
    </head>
    <body>
        <h1>Page not found!</h1>
        <img src="http://i0.kym-cdn.com/photos/images/facebook/000/060/537/404-not-found-boobs.png" />
    </body>
</html>