{% load staticfiles %}

<!DOCTYPE html>
<html>
    {% include 'components/head.html' %}
    <body>
        <div class="page-header">
            <div class="row">
                <div class="col col-md-2 col-sm-2 col-xs-6 pull-left">
                    <!-- <h1><a href="/">Moefy</a></h1> -->
                    <a href="/"><img src="{% static 'logo.png' %}" class="img-responsive" /></a>
                </div>
                <div class="col col-md-3 col-md-offset-7 col-sm-3 col-sm-offset-7 col-xs-6" id="login">
                    {% if not user.is_authenticated %} 
                        <a href="/accounts/login"><strong>Login</strong></a> | <a href="/signup"><strong>Register</strong></a>
                    {% else %}
                        <strong>Hi, {{ user.username }}!</strong>
                        {% if user.is_staff %}
                            <a href="/administrator">
                                <strong>Admin</strong>
                            </a> |
                        {% endif %}
                        <a href="/logout"><strong>Logout</strong></a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="container container-fluid">
            <div class="row">
                <div class="col col-md-8 col-sm-8 col-xs-12">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="col col-md-4 col-sm-4 col-xs-12">
                    {% include 'blog/sidebar.html' %}
                </div>
            </div>
        </div>
    </body>
</html>