{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}    
    <div class="post">   
        <h3>{{ post.title }}</h3>
        <img src="/media/{{post.image}}" class="img-responsive"/>    
        <br>
        <p>Submited by <a href="/users/{{ post.author }}">{{ post.author }}</a> on {{ post.published_date }}</p>           
    </div>
{% endblock %}