{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <!-- <p class="date">
                Published by {{ post.author }} on {{ post.published_date }}</p> -->
            <h3><a href="/post/{{ post.id }}">{{ post.title }}</a></h3>
            <a href="/post/{{ post.id }}"><img src="/media/{{post.image}}" class="img-responsive img-front" /></a>
            <!-- <a href="#" class="voting">
                <i class="glyphicon glyphicon-thumbs-up"></i>
            </a>
            <a href="#" class="voting">
                <i class="glyphicon glyphicon-thumbs-down"></i>
            </a> -->
        </div>
    {% endfor %}
{% endblock %}