{% extends 'blog/base.html' %}

{% block content %}

    <div class="row">
        <img src="/media/{{ user.picture }}" align="left" style="margin-right: 2em; border: 1px solid black;"/>
        <h2>{{ user.user.username }}</h2>
        <div class="bio">
            <em>{{ user.bio }}</em>
        </div>
    </div>
    <br>
    <div>
        <ul>
            <li>Twitter: {{ user.twitter }}</li>
            <li>Age: {{ user.age }}</li>
        </ul>
    </div>
    <br>
    
    <h4>Posts by {{ user }}</h4>

    {% for post in posts %}
        <div class="row post">
            <div class="col col-md-10 col-sm-10 col-xs-10">
                <a href="/post/{{ post.id }}"><h4>{{ post.title }}</h4></a>
            </div>            
            <div class="col col-md-1 col-sm-1 col-xs-1">
                <button class="btn btn-default">E</button>
            </div>
            <div class="col col-md-1 col-sm-1 col-xs-1">
                <button class="btn btn-danger">D</button>
            </div>
        </div>
    {% endfor %}

{% endblock %}