<div id="sidebar">
    <ul type="none">
        <li><a href="/">Home</a></li>
        {% if user.is_authenticated %}
            <li><a href="/users/{{ user.username }}">Profile</a></li>
            <li><a href="/submit/">Submit</a></li>
        {% endif %}
    </ul>
    <hr/>
    <h4>Trending topics</h4>
</div>