

<!DOCTYPE html>
<html>
    {% include 'components/head.html' %}

    <body>
        <div class="page-header">
            <div class="row">
                <div class="col col-md-10 col-sm-8 col-xs-6">
                    <h1><a href="/">Moetify</a></h1>
                </div>
                <div class="col col-md-2 col-sm-4 col-xs-6" id="login">
                    <a href="/login"><strong>Login</strong></a> | <a href="#"><strong>Register</strong></a>
                </div>
            </div>
        </div>

        <div class="container container-fluid">
            <div class="row">
                <div class="col col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                    <h2>Sign up</h2>
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <p>
                            {{ field.label_tag }}<br>
                            {{ field }}
                            {% for error in field.errors %}
                            <p style="color: red">{{ error }}</p>
                            {% endfor %}
                        </p>
                        {% endfor %}
                        <button type="submit">Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>