{% load staticfiles %}

<!DOCTYPE html>
<html>        
    <head>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/blog.css' %}">     
            
            <title>Moefy - Administrador</title>
            <meta charset="utf-8">
    </head>
    <body>
        <div class="page-header">
            <div class="row">
                <div class="col col-md-9 col-sm-8 col-xs-6">
                    <h1><a href="/">Moefy</a></h1>
                </div>
                <div class="col col-md-3 col-sm-4 col-xs-6 pull-right" id="login">
                    <a href="/"><strong>Moefy</strong></a> |
                    <a href="/logout"><strong>Salir</strong></a>
                </div>
            </div>
        </div>
        <div class="container container-fluid">
            <div class="row">
                <div class="col col-md-3 col-sm-4 col-xs-12">
                    <div id="sidebar">
                        <ul type="none">
                            <li><a href="/administrator/">Home</a></li>
                            <li><a href="/administrator/reports/">Reports</a></li>
                            <li><a href="/submit/">Submit</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col col-md-9 col-sm-8 col-xs-12">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>