<div id="sidebar">
    <ul type="none">
        <li><a href="administrator/">Home</a></li>
        <li><a href="/profile/">Profile</a></li>
        <li><a href="/submit/">Submit</a></li>
    </ul>
</div>