@font-face {
    font-family: "Kawaii";
    src: url("../fonts/MSMM.otf");
}

body {
    background-color: #f3f5fb;
}

.page-header {
    background-color: #7fffbb;
    margin-top: 0;
    padding: 2px 15px 2px 40px;
}

h1 a {
    color: #6858ac;
    font-family: 'Kawaii';
    font-size: .8em;
}

h3 a, h3 {
    color: #6858ac;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: #4321d8;
}

p.date {
    font-size: 0.8em;
}

div.post {
    padding: .3em 2em 2em 2em;
    background-color: #eae6f4;
    margin-bottom: 1em;
}

.img-front {
    width: 65% !important;
    display: block;
    margin: auto;
}

#login {
    top: 1.8em;
}

#sidebar {
    padding: 2em;
    background-color: #eae6f4;
    margin-bottom: 1em;
}

#sidebar h4 {
    font-family: 'Sans';
}

.bio {
    
}