{% load staticfiles %}

<head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">     
        <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">        
        
        <title>Moefy</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
</head>